<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ecsite.demo.mapper.ItemMapper">

    <resultMap type="com.ecsite.demo.domain.Item" id="Item">
        <id column="id" property="id"/>
        <result column="name" property="name"/>
        <result column="description" property="description"/>
        <result column="price_m" property="priceM"/>
        <result column="price_l" property="priceL"/>
        <result column="image_path" property="imagePath"/>
    </resultMap>

    <select id="findAll" resultMap="Item">
        SELECT id,
               name,
               description,
               price_m,
               price_l,
               image_path
        FROM Items
        WHERE deleted = false
        ORDER BY name
    </select>

    <select id="load" resultMap="Item">
        SELECT id,
               name,
               description,
               price_m,
               price_l,
               image_path
        FROM Items
        WHERE id = #{id}
          AND deleted = false
    </select>

    <select id="findByNameLike" resultMap="Item">
        SELECT id,
               name,
               description,
               price_m,
               price_l,
               image_path
        FROM Items
        WHERE name like concat('%', #{partOfName}, '%')
          AND deleted = false
        ;
    </select>


    <insert id="insert">
        INSERT INTO Items (id, name, description, price_m, price_l, image_path, deleted)
        VALUES (#{id}, #{name}, #{description}, #{priceM}, #{priceL}, #{imagePath})
    </insert>
</mapper>